.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* justify-content: center; */
    align-items: center;
    height: calc(100% - 4.5rem);
    text-align: center;
  }
  
  .mainHeadContainer {
    width: 40rem;
  }
    .mainHeader {
      margin: 2rem 0;
      color: var(--primary-light);
      text-align: center;
      font-size: 3rem;
      font-weight: 800;
    }