.mainContainer {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  text-align: center;
}

.menu {
  margin: 3rem;
}