.instagramIcon {
    width: 1.8rem;
    margin-top: .5rem;
    border-radius: 9px;
    transition: all 200ms ease;
}
    .instagramIcon:hover {
        scale: .94;
        opacity: .9;
        background: linear-gradient(to right, purple, red);
        transition: all 200ms ease;
    }