.instagramIcon {
    width: 1.7rem;
    margin-top: .5rem;
    border-radius: 9px;
    transition: all 150ms ease;
}
    .instagramIcon:hover {
        scale: .95;
        opacity: .9;
        background: linear-gradient(to right, purple, red);
        transition: all 150ms ease;
    }