.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: calc(100% - 4.5rem);
    text-align: center;
  }
  
  .mainHeadContainer {
    width: 40rem;
    color: var(--primary-light);
  }
    .mainHeader {
      margin: -.2rem 0;
      font-size: 5rem;
      font-weight: 800;
    }
    .mainSubHeader {
      margin: 0 !important;
      font-size: 1.2rem;
      font-weight: 400;
    }

.email {
  color: var(--link-hover);
}

.instaLink {
  color: var(--primary-light) !important;
    font-weight: 500;
}
    .instaLink:hover {
        color: var(--link-hover) !important;
    }