.nav {
    /* background-color: var(--bg-dark) !important; */
    background-color: #ffffff00 !important;
}

.navLogo {
    margin-right: .5rem;
}

.divider {
    height: 1.5rem !important;
    background-color: var(--bg-dark) !important;
    opacity: .4 !important;
}

.navLink {
    /* font-size: 1rem !important; */
    font-weight: 600;
    color: var(--primary-light) !important;
    transition: all 250ms ease !important;
}
    .navLink:hover {
        scale: .96;
        color: var(--link-hover) !important;
        transition: all 250ms ease !important;
    }

    .navHamburgerMenuIcon {
        color: var(--primary-light);
    }
        .navHamburgerMenuIcon:hover {
            scale: .95;
            opacity: .8;
        }

.navHamburgerMenu {
    display: flex;
    align-items: center;
    padding-top: 3rem !important;
    background-color: #16161650 !important;
    transition: all 250ms ease !important;
}
    .navHamburgerMenuLinks {
        margin: .4rem 0;
        font-size: 1.5rem !important;
        font-weight: 600;
        color: var(--primary-light) !important;
        transition: all 250ms ease !important;
    }
        .navHamburgerMenuLinks:hover {
            scale: .96;
            color: var(--link-hover) !important;
        }